<nav class="navbar navbar-expand-lg navbar-primary rounded-3 text-bg-success">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img [src]="urlLogo" alt="Logo" class="img-fluid" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCenter"
            aria-controls="navbarCenter" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarCenter">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" routerLink="">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" routerLink="">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" routerLink="">A propos</a>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <app-form-login></app-form-login>
        </div>

    </div>
</nav>